.menu {
  width: VW(680);
  height: VW(480);
  padding: VW(20);
  background-color: $c-white;
  position: absolute;
  right: 0;
  top: 0;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform-origin: right top;

  .logo {
    width: VW(40);
    height: VW(26);
    position: relative;
  }

  .list {
    .link_wrapper {
      display: block;
      width: fit-content;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .socials {
      display: flex;
      align-items: center;
      gap: VW(20);

      .social_link {
        position: relative;
        line-height: normal;

        @include hover {
          &::after {
            transform: scaleX(0);
            transform-origin: right;
          }
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: VW(1);
          background-color: $c-black;
          transform-origin: left;
          transition: transform .5s $easeInOutExpo;
        }
      }
    }
  }
}

.bg {
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100lvh;

  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(0.1vw);
}

.button {
  display: flex;
  align-items: center;
  gap: VW(6);
  cursor: pointer;
  width: fit-content;
  position: relative;
  z-index: 1001;

  @include hover {
    .main_icon__rotate {
      rotate: 180deg;
    }

    .bracket_icon {
      &:nth-of-type(1) {
        transform: translateX(-50%);
      }
      &:nth-last-of-type(1) {
        transform: translateX(50%);
      }
    }
  }

  &__active {
    .main_icon {
      & > svg {
        rotate: 45deg;
      }
    }
  }

  .main_icon {
    width: VW(25);
    height: VW(25);
    transition: rotate 0.7s $easeInOutExpo;

    & > svg {
      transition: rotate 0.7s $easeInOutExpo;
    }
  }

  .bracket_icon {
    display: block;
    width: VW(8);
    height: VW(46);
    transition: transform 0.7s $easeInOutExpo;
  }
}
