@import "./mixins";

%h1 {
  font-family: var(--font-roboto), sans-serif;
  font-size: VW(54);
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: VW(-2);
}

%h2 {
  font-family: var(--font-roboto), sans-serif;
  font-size: VW(22);
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: VW(-1);
}

%body-text {
  font-family: var(--font-roboto), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.06vw;

  text-transform: uppercase
}

.bold {
  font-weight: 500;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }
  
  h2 {
    @extend %h2;
  }
}
